tensorflow==2.7.0
matplotlib==3.5.1
Pillow==9.0.1
tqdm==4.62.3
numpy==1.22.2
nltk==3.6.7
=------------------=
pip install tensorflow==2.7.0
pip install matplotlib==3.5.1
pip install Pillow==9.0.1
pip install tqdm==4.62.3
pip install numpy==1.22.2
pip install nltk==3.6.7
